option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: photodiary/photodiary/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: photodiary.settings
    PYTHONPATH: /opt/python/current/app/photodiary:$PYTHONPATH
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"
